 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-104134012.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-104134012.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 751px;
}

.u-section-3 .u-group-1 {
  width: 730px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.4);
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 619px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-3 .u-group-1 {
    min-height: 370px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }
} .u-section-4 {
  min-height: 769px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 769px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 100px;
}

.u-section-4 .u-image-1 {
  width: 343px;
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 60px 165px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 769px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 385px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px 78px 0 37px;
}

.u-section-4 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 31px 77px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 634px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 10px;
    margin-left: 35px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 24px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 27px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 200px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 320px;
    height: 331px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 48px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 48px;
  }
}